In [1]:
import pandas as pd
import numpy as np

In [66]:
df = pd.read_csv('data/day1.csv', skip_blank_lines=False, header=None, low_memory=False)
calories = df.values.flatten()

data = {}

elf = 0
for i,c in enumerate(calories):
    try:
        data[elf]
    except KeyError: # create the list if it doesnt exist
        data[elf] = []
        
    if np.isnan(c):
        elf = elf + 1
        continue
    else:
        data[elf].append(c)

print(f"Number of Elfs: {elf}")      
df = pd.DataFrame.from_dict(data,orient='index').T
df

Number of Elfs: 235

,0,1,2,3,4,5,6,7,8,9,...,226,227,228,229,230,231,232,233,234,235
0,8417.0,4697.0,3820.0,18980.0,6500.0,5354.0,4701.0,3650.0,1984.0,4982.0,...,19948.0,2666.0,9309.0,9949.0,3351.0,8877.0,4961.0,2157.0,26443.0,2953.0
1,8501.0,2941.0,6710.0,3731.0,2810.0,5521.0,4530.0,2113.0,3240.0,3483.0,...,18739.0,3271.0,5622.0,16352.0,10708.0,7738.0,7610.0,6653.0,31228.0,10062.0
2,5429.0,3275.0,4781.0,16643.0,13252.0,6015.0,1699.0,4750.0,7139.0,3358.0,...,15360.0,1581.0,9303.0,18404.0,10017.0,10940.0,1594.0,5601.0,NaN,5321.0
3,2112.0,6060.0,6241.0,NaN,5288.0,2501.0,3015.0,6639.0,1931.0,2762.0,...,NaN,6748.0,2516.0,NaN,2594.0,6554.0,5133.0,1394.0,NaN,4145.0
4,6482.0,4879.0,3975.0,NaN,2110.0,6067.0,3682.0,5177.0,6740.0,3983.0,...,NaN,3957.0,12117.0,NaN,4711.0,6358.0,5937.0,5724.0,NaN,2668.0
5,7971.0,7158.0,6308.0,NaN,12393.0,2465.0,2537.0,3823.0,5695.0,1341.0,...,NaN,6221.0,4126.0,NaN,1749.0,NaN,2581.0,6487.0,NaN,2525.0
6,9636.0,5066.0,5289.0,NaN,NaN,2201.0,4554.0,1529.0,6572.0,7420.0,...,NaN,1543.0,2700.0,NaN,9432.0,NaN,5131.0,4100.0,NaN,4886.0
7,4003.0,3196.0,6575.0,NaN,NaN,3864.0,2826.0,5671.0,3264.0,5830.0,...,NaN,2058.0,NaN,NaN,NaN,NaN,4044.0,3519.0,NaN,2965.0
8,NaN,5780.0,2662.0,NaN,NaN,2661.0,1895.0,3679.0,2904.0,5709.0,...,NaN,5185.0,NaN,NaN,NaN,NaN,9096.0,2273.0,NaN,NaN
9,NaN,3143.0,4804.0,NaN,NaN,4078.0,2652.0,7061.0,7199.0,6140.0,...,NaN,1264.0,NaN,NaN,NaN,NaN,NaN,5199.0,NaN,NaN
10,NaN,2510.0,5352.0,NaN,NaN,2399.0,4074.0,NaN,NaN,5363.0,...,NaN,2211.0,NaN,NaN,NaN,NaN,NaN,6924.0,NaN,NaN
11,NaN,7073.0,4610.0,NaN,NaN,3212.0,NaN,NaN,NaN,2636.0,...,NaN,1826.0,NaN,NaN,NaN,NaN,NaN,6953.0,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,2831.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4903.0,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,3268.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,2726.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Part 1

In [70]:
print(f"Elf: {df.sum().idxmax()} has {df.sum().max()} calories")

Elf: 149 has 71471.0 calories

# Part 2

In [73]:
df.sum().sort_values(ascending=False).iloc[:3].sum()

211189.0