In [89]:
import pandas as pd

In [97]:
def get_initial_stack():
    inital_crates = pd.read_csv('data/day5.csv',header=None,nrows=8)

    inital_stack = {}
    for i,j in enumerate(range(1,len(inital_crates[0][0]),4)):
        for a in inital_crates[0]:
            if a[j] == ' ':
                continue
            
            try:
                inital_stack[i+1].append(a[j])
            except:
                inital_stack[i+1] = []
                inital_stack[i+1].append(a[j])
    return inital_stack
inital_stack = get_initial_stack()
inital_stack

{1: ['V', 'J', 'B', 'D'],
 2: ['F', 'D', 'R', 'W', 'B', 'V', 'P'],
 3: ['Q', 'W', 'C', 'D', 'L', 'F', 'G', 'R'],
 4: ['B', 'D', 'N', 'L', 'M', 'P', 'J', 'W'],
 5: ['Q', 'S', 'C', 'P', 'B', 'N', 'H'],
 6: ['G', 'N', 'S', 'B', 'D', 'R'],
 7: ['H', 'S', 'F', 'Q', 'M', 'P', 'B', 'Z'],
 8: ['F', 'L', 'W'],
 9: ['R', 'M', 'F', 'V', 'S']}

# part 1

In [92]:
df = pd.read_csv('data/day5.csv',header=None,skiprows=9)
df['number'] = df.apply(lambda s: int(s[0].split(" ")[1]),axis='columns')
df['from'] = df.apply(lambda s: int(s[0].split(" ")[3]),axis='columns')
df['to'] = df.apply(lambda s: int(s[0].split(" ")[5]),axis='columns')
df

                      0  number  from  to
0    move 1 from 4 to 1       1     4   1
1    move 2 from 4 to 8       2     4   8
2    move 5 from 9 to 6       5     9   6
3    move 1 from 1 to 3       1     1   3
4    move 5 from 8 to 3       5     8   3
..                  ...     ...   ...  ..
497  move 1 from 8 to 4       1     8   4
498  move 2 from 5 to 7       2     5   7
499  move 1 from 2 to 4       1     2   4
500  move 5 from 6 to 1       5     6   1
501  move 4 from 3 to 2       4     3   2

[502 rows x 4 columns]

In [93]:
for index,s in df.iterrows():
    for i in range(0,s['number']):
        popped_val =  inital_stack[s['from']].pop(0) # pop(0) removes first value from the list
        inital_stack[s['to']].insert(0, popped_val) #insert appends the value to the beginning of the list (top of the inital_stack)
inital_stack

{1: ['B', 'G', 'B', 'N', 'F'],
 2: ['S', 'G', 'S', 'B'],
 3: ['D', 'R', 'W', 'Z', 'D', 'B', 'M', 'V'],
 4: ['M', 'W', 'R'],
 5: ['Q', 'W', 'V', 'P', 'F'],
 6: ['F',
  'F',
  'C',
  'D',
  'N',
  'D',
  'V',
  'J',
  'P',
  'S',
  'F',
  'P',
  'D',
  'R',
  'L',
  'J',
  'H'],
 7: ['L', 'N'],
 8: ['S'],
 9: ['P', 'Q', 'M', 'Q', 'B', 'L', 'W', 'H', 'R', 'C', 'B']}

In [94]:
"".join([inital_stack[0] for i,inital_stack in inital_stack.items()])

'BSDMQFLSP'

# part 2

In [100]:
inital_stack = get_initial_stack() # reset stack

for index,s in df.iterrows():
    popped_vals = []
    for i in range(0,s['number']):
        popped_vals.append(inital_stack[s['from']].pop(0)) # pop(0) removes first value from the list
    inital_stack[s['to']] = popped_vals + inital_stack[s['to']]#insert popped vals to the begining of list

inital_stack
"".join([inital_stack[0] for i,inital_stack in inital_stack.items()])

'PGSQBFLDP'